@charset "UTF-8";
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  25% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes hideMe {
  0% {
    opacity: 0;
    display: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  25% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    display: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes slideShow {
  0% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  92% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes secondAppearFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes secondAppearFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0%, 0);
    transform: translate3d(-5%, 0%, 0); }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0%, 0);
    transform: translate3d(-5%, 0%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }

@media (max-width: 1600px) {
  html {
    font-size: 55.5%; } }

@media (max-width: 1025px) {
  html {
    font-size: 50.5%; } }

@media (max-width: 768px) {
  html {
    font-size: 41.5%; } }

body {
  box-sizing: border-box;
  font-family: IRANSans, sans-serif;
  overflow: hidden;
  direction: rtl;
  padding: 7rem;
  height: 100vh;
  width: 100vw;
  color: #333;
  background-color: #fdfdfd; }

.section-first {
  position: relative;
  z-index: -1;
  height: 100vh;
  background-color: #fdfdfd; }

.section-second {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  padding: 7rem; }

@media (max-width: 632px) {
  body {
    padding: 4rem; }
  .section-second {
    padding: 4rem; }
  html {
    font-size: 34.5%; } }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb.ttf"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/ttf/IRANSansWeb_Bold.ttf"); }

.flex {
  display: flex; }
  .flex-row {
    flex-direction: row; }
  .flex-col {
    flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.justify-content-baseline {
  justify-content: baseline; }

.align-items-center {
  align-items: center; }

.w-100 {
  width: 100%; }

.w-75 {
  width: 75%; }

.w-50 {
  width: 50%; }

.w-25 {
  width: 25%; }

.u-text-center {
  text-align: center !important; }

.u-text-right {
  text-align: right; }

.u-text-left {
  text-align: left; }

.u-position-a {
  position: absolute; }

.u-position-r {
  position: relative; }

.u-margin-xs {
  margin: .5rem !important; }

.u-margin-s {
  margin: 1.5rem !important; }

.u-margin-m {
  margin: 3rem !important; }

.u-margin-l {
  margin: 5rem !important; }

.u-margin-vert-xs {
  margin: .5rem 0rem !important; }

.u-margin-vert-s {
  margin: 1.5rem 0rem !important; }

.u-margin-vert-m {
  margin: 3rem 0rem !important; }

.u-margin-vert-l {
  margin: 5rem 0rem !important; }

.u-margin-horz-xs {
  margin: 0rem .5rem !important; }

.u-margin-horz-s {
  margin: 0rem 1.5rem !important; }

.u-margin-horz-m {
  margin: 0rem 3rem !important; }

.u-margin-horz-l {
  margin: 0rem 5rem !important; }

.u-margin-top-xs {
  margin-top: .5rem !important; }

.u-margin-top-s {
  margin-top: 1.5rem !important; }

.u-margin-top-m {
  margin-top: 3rem !important; }

.u-margin-top-l {
  margin-top: 5rem !important; }

.u-margin-bottom-xs {
  margin-bottom: .5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-m {
  margin-bottom: 3rem !important; }

.u-margin-bottom-l {
  margin-bottom: 5rem !important; }

.u-margin-left-xs {
  margin-left: .5rem !important; }

.u-margin-left-s {
  margin-left: 1.5rem !important; }

.u-margin-left-m {
  margin-left: 3rem !important; }

.u-margin-left-l {
  margin-left: 5rem !important; }

.u-margin-right-xs {
  margin-right: .5rem !important; }

.u-margin-right-s {
  margin-right: 1.5rem !important; }

.u-margin-right-m {
  margin-right: 3rem !important; }

.u-margin-right-l {
  margin-right: 5rem !important; }

.u-padding-xs {
  padding: .5rem !important; }

.u-padding-s {
  padding: 1.5rem !important; }

.u-padding-m {
  padding: 3rem !important; }

.u-padding-l {
  padding: 5rem !important; }

.u-padding-vert-xs {
  padding: .5rem 0rem !important; }

.u-padding-vert-s {
  padding: 1.5rem 0rem !important; }

.u-padding-vert-m {
  padding: 3rem 0rem !important; }

.u-padding-vert-l {
  padding: 5rem 0rem !important; }

.u-padding-horz-xs {
  padding: 0rem .5rem !important; }

.u-padding-horz-s {
  padding: 0rem 1.5rem !important; }

.u-padding-horz-m {
  padding: 0rem 3rem !important; }

.u-padding-horz-l {
  padding: 0rem 5rem !important; }

.u-padding-top-xs {
  padding-top: .5rem !important; }

.u-padding-top-s {
  padding-top: 1.5rem !important; }

.u-padding-top-m {
  padding-top: 3rem !important; }

.u-padding-top-l {
  padding-top: 5rem !important; }

.u-padding-bottom-xs {
  padding-bottom: .5rem !important; }

.u-padding-bottom-s {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-m {
  padding-bottom: 3rem !important; }

.u-padding-bottom-l {
  padding-bottom: 5rem !important; }

.u-padding-left-xs {
  padding-left: .5rem !important; }

.u-padding-left-s {
  padding-left: 1.5rem !important; }

.u-padding-left-m {
  padding-left: 3rem !important; }

.u-padding-left-l {
  padding-left: 5rem !important; }

.u-padding-right-xs {
  padding-right: .5rem !important; }

.u-padding-right-s {
  padding-right: 1.5rem !important; }

.u-padding-right-m {
  padding-right: 3rem !important; }

.u-padding-right-l {
  padding-right: 5rem !important; }

.slide {
  font-size: 5rem;
  background-color: transparent;
  background-image: linear-gradient(135deg, #4c8fc3 2%, #001373 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }
  .slide__secondary {
    width: 30%;
    text-align: justify;
    font-size: 2rem;
    color: #666; }
  .slide-animation {
    animation: fadeInDown 5s 1;
    animation-fill-mode: forwards; }

.breakLine {
  border: 1px solid #216aa7;
  margin: 6rem 3rem; }

.description {
  margin-top: .5rem;
  font-size: 2.2rem;
  text-align: justify; }
  .description-free {
    position: relative;
    color: #216aa7; }
    .description-free::after {
      font-weight: bold;
      font-size: 2.5rem;
      top: 5rem;
      left: -2.5rem;
      position: absolute;
      content: 'رایگان'; }
    .description-free::before {
      content: '\227B';
      transform: rotate(90deg);
      font-weight: bold;
      font-size: 4.7rem;
      top: 0rem;
      left: -1rem;
      position: absolute; }

@media (max-width: 1025px) {
  .slide {
    font-size: 4rem; }
    .slide__secondary {
      width: 40%;
      font-size: 2rem; } }

@media (max-width: 560px) {
  .slide {
    font-size: 4rem;
    text-align: center; }
    .slide__secondary {
      width: 100%;
      text-align: center;
      font-size: 2.5rem; } }

.card {
  width: 30rem;
  height: 60rem;
  position: absolute;
  -webkit-box-shadow: 0px 23px 36px -6px #8f8f8f;
  -moz-box-shadow: 0px 23px 36px -6px #8f8f8f;
  box-shadow: 0px 23px 36px -6px #8f8f8f; }
  .card-1 {
    top: 3rem;
    left: 3rem;
    z-index: 1;
    animation: hideMe 5s 1;
    animation-fill-mode: forwards; }
  .card-2 {
    top: 8rem;
    left: 27rem;
    z-index: 2;
    animation: hideMe 4.6s 1;
    animation-fill-mode: forwards; }
  .card-3 {
    top: 13rem;
    left: 50rem;
    z-index: 3;
    animation: hideMe 4.3s 1;
    animation-fill-mode: forwards; }
  .card-4 {
    top: 18rem;
    left: 72rem;
    z-index: 4;
    animation: hideMe 4s 1;
    animation-fill-mode: forwards; }

@media (max-width: 1600px) {
  .card-1 {
    top: 12rem;
    left: 3rem; }
  .card-2 {
    top: 19rem;
    left: 27rem; }
  .card-3 {
    top: 26rem;
    left: 50rem; }
  .card-4 {
    top: 32rem;
    left: 72rem; } }

@media (max-width: 1025px) {
  .card-1 {
    top: 1rem;
    left: 3rem; }
  .card-2 {
    top: 8rem;
    left: 27rem; }
  .card-3 {
    top: 14rem;
    left: 50rem; }
  .card-4 {
    top: 19rem;
    left: 72rem; } }

@media (max-width: 560px) {
  .card {
    width: 50rem;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 18rem; } }

.info {
  margin-bottom: 5rem; }

.form {
  width: 50%;
  display: block;
  float: right;
  animation-name: secondAppearFromLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  position: relative;
  text-align: center; }
  .form-form {
    margin-top: 5rem;
    -webkit-box-shadow: 0px 6px 36px -6px #8f8f8f;
    -moz-box-shadow: 0px 6px 36px -6px #8f8f8f;
    box-shadow: 0px 6px 36px -6px #8f8f8f;
    border-radius: .7rem;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #216aa7;
    padding: 2rem; }
  .form-flex {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .form-input {
    transition: all 0.3s ease 0s;
    border: 1px solid #666;
    border-radius: .7rem;
    width: 100%;
    height: 5.5rem;
    text-align: center;
    font-size: 2rem;
    color: #216aa7; }
    .form-input:focus {
      outline: none;
      box-shadow: 0 0 8px #3d83bdde;
      border: 1px solid #216aa7; }
    .form-input-name {
      width: 49%; }
    .form-input-true {
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.2) !important;
      border-color: #393 !important; }
    .form-input-false {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.2) !important;
      border-color: #933 !important; }
  .form-btn {
    cursor: pointer;
    border-radius: .7rem;
    border: none;
    background-color: #216aa7;
    color: #fff;
    margin-top: 2rem;
    width: 100%;
    height: 5.5rem;
    font-size: 2rem;
    position: relative;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 10px 36px -6px #8f8f8f; }
    .form-btn-disabled {
      pointer-events: none;
      background-color: #666 !important; }
    .form-btn-enabled {
      background-color: #216aa7 !important;
      pointer-events: all; }
    .form-btn:hover, .form-btn:visited {
      outline: none;
      background-color: #1467ac;
      box-shadow: 0px 15px 20px rgba(33, 106, 167, 0.425);
      transform: translateY(-5px); }
    .form-btn:focus {
      outline: none;
      background-color: #1467ac;
      box-shadow: 0px 15px 20px rgba(33, 106, 167, 0.425);
      transform: translateY(-5px); }
    .form-btn:active {
      background-color: #216aa7;
      box-shadow: 0px 10px 36px -6px #8f8f8f;
      transform: translateY(0px); }

.rest {
  width: 100%; }
  .rest-hidden {
    display: none; }
  .rest-visible {
    display: block !important;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-timing-function: ease-in; }

.app {
  width: 50%;
  display: block;
  float: right;
  text-align: center;
  position: relative;
  animation-name: secondAppearFromRight;
  animation-timing-function: ease-in-out;
  animation-duration: 6s; }
  .app-card {
    margin: 0 auto;
    background-image: url("/assets/ezgif-3-a0ae5424544d.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: 0px 23px 36px -6px #8f8f8f;
    -moz-box-shadow: 0px 23px 36px -6px #8f8f8f;
    box-shadow: 0px 23px 36px -6px #8f8f8f;
    width: 75%;
    height: 85vh; }

.social-container {
  width: 60%;
  margin: 0 auto;
  text-align: center; }

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em; }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 3rem; }
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 41%;
    left: 49%;
    transform: translate(-50%, -50%);
    transition: all 265ms ease-out; }
  .social-icons a {
    display: inline-block; }
    .social-icons a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #00B5F5, #002A8F);
      transition: all 265ms ease-out; }
    .social-icons a:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in; }
    .social-icons a:hover i {
      color: #00B5F5;
      background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 265ms ease-in;
      font-size: 6rem; }
